target
jsbml.log
release.properties
package-info.java
nbactions.xml
octave-core
experiments/*/*result.xml
experiments/*/result*.xml
benchmark/experiments/*/*result.xml
*~
.RData
.Rhistory
*.csv
benchmark/results
benchamer/results-processed

# Gradle cache and build directories
.gradle
build
*.ipr
*.iws

# Idea project files
.idea